<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Extend" publicKeyToken="869d4c589c0473ac" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.92" newVersion="1.2.0.92" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>